In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
# Import November  2023 dataset
path = Path("./resources/JC-202311-citibike-tripdata.csv")
nov_df = pd.read_csv(
    path,
    dtype = {
        'start_station_id': str, # dtype warning, column 5
        'end_station_id': str # dtype warning, column 7
    })

In [3]:
# Check data types
nov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75646 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75646 non-null  object
 1   rideable_type       75646 non-null  object
 2   started_at          75646 non-null  object
 3   ended_at            75646 non-null  object
 4   start_station_name  75637 non-null  object
 5   start_station_id    75637 non-null  object
 6   end_station_name    75407 non-null  object
 7   end_station_id      75407 non-null  object
 8   start_lat           75646 non-null  float64
 9   start_lng           75646 non-null  float64
 10  end_lat             75615 non-null  float64
 11  end_lng             75615 non-null  float64
 12  member_casual       75646 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.5+ MB

In [4]:
# Check the `ride_id` column
print(len(nov_df.ride_id.unique()))

75646

In [5]:
# Check the `rideable_type` column
nov_df.rideable_type.value_counts()

classic_bike     71144
electric_bike     4502
Name: rideable_type, dtype: int64

In [6]:
# Check the `started_at` and `ended_at` columns
print(f"started_at:\n{nov_df.started_at[:10]}\n")
print(f"ended_at:\n{nov_df.ended_at[:10]}")

started_at:
0    2023-11-19 12:08:48
1    2023-11-05 18:21:56
2    2023-11-12 11:36:41
3    2023-11-08 15:04:23
4    2023-11-22 09:08:22
5    2023-11-14 08:12:36
6    2023-11-15 08:26:45
7    2023-11-15 15:55:41
8    2023-11-05 15:24:46
9    2023-11-07 10:52:04
Name: started_at, dtype: object

ended_at:
0    2023-11-19 12:28:53
1    2023-11-05 18:25:36
2    2023-11-12 11:42:04
3    2023-11-08 15:20:23
4    2023-11-22 09:14:23
5    2023-11-14 08:18:54
6    2023-11-15 08:29:50
7    2023-11-15 15:58:55
8    2023-11-05 15:33:34
9    2023-11-07 11:01:02
Name: ended_at, dtype: object

In [7]:
# Check the `start_station_name` and `end_station_name` columns
start_stations = nov_df.start_station_name.value_counts()
end_stations = nov_df.end_station_name.value_counts()

# Isolate station names
start_names = set(start_stations.index)
end_names = set(end_stations.index)

# Print statements
print(start_stations, "\n")
print(end_stations, "\n")
print(f"start/end only stations: {start_names.difference(end_names)}")

Hoboken Terminal - River St & Hudson Pl     3642
Grove St PATH                               3378
Hoboken Terminal - Hudson St & Hudson Pl    2110
Newport PATH                                1800
Hamilton Park                               1708
                                            ...
Crescent St & 35 Ave                           1
Fulton St & Adams St                           1
Greene Ave & Nostrand Ave                      1
46 St & Queens Blvd                            1
W 82 St & Central Park West                    1
Name: start_station_name, Length: 96, dtype: int64

Grove St PATH                               4121
Hoboken Terminal - River St & Hudson Pl     3692
Hoboken Terminal - Hudson St & Hudson Pl    2123
Newport PATH                                1805
City Hall - Washington St & 1 St            1697
                                            ...
Barclay St & Church St                         1
Ave A & E 14 St                                1
Mott St & Prince St                            1
46 St & Queens Blvd                            1
W 15 St & 10 Ave                               1
Name: end_station_name, Length: 164, dtype: int64

start/end only stations: {'53 St & Roosevelt Ave', 'Fulton St & Adams St', 'Amsterdam Ave & W 82 St', 'W 82 St & Central Park West', 'W 13 St & 5 Ave', 'Greene Ave & Nostrand Ave', 'W 51 St & 6 Ave'}

In [8]:
# Check the `start_station_id` and `end_station_id` columns
print(nov_df.start_station_id.value_counts(), "\n")
print(nov_df.end_station_id.value_counts())

HB102      3642
JC115      3378
HB101      2110
JC066      1800
JC009      1708
           ...
6688.01       1
4637.06       1
4519.02       1
6209.08       1
7304.08       1
Name: start_station_id, Length: 96, dtype: int64

JC115      4121
HB102      3692
HB101      2123
JC066      1805
HB105      1697
           ...
5216.04       1
5779.11       1
5561.04       1
6209.08       1
6115.09       1
Name: end_station_id, Length: 164, dtype: int64

In [9]:
# Check the `member_casual` column
nov_df.member_casual.value_counts()

member    59514
casual    16132
Name: member_casual, dtype: int64

In [10]:
# Drop rows with null values
nonulls_df = nov_df.dropna(how="any").reset_index(drop=True)
nonulls_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75400 entries, 0 to 75399
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75400 non-null  object
 1   rideable_type       75400 non-null  object
 2   started_at          75400 non-null  object
 3   ended_at            75400 non-null  object
 4   start_station_name  75400 non-null  object
 5   start_station_id    75400 non-null  object
 6   end_station_name    75400 non-null  object
 7   end_station_id      75400 non-null  object
 8   start_lat           75400 non-null  float64
 9   start_lng           75400 non-null  float64
 10  end_lat             75400 non-null  float64
 11  end_lng             75400 non-null  float64
 12  member_casual       75400 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.5+ MB

In [11]:
# Drop columns: `ride_id`, `start_station_id`, `end_station_id`
drop_columns = ['ride_id', 'start_station_id', 'end_station_id']

reduced_df = nonulls_df.drop(columns=drop_columns)
reduced_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75400 entries, 0 to 75399
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rideable_type       75400 non-null  object
 1   started_at          75400 non-null  object
 2   ended_at            75400 non-null  object
 3   start_station_name  75400 non-null  object
 4   end_station_name    75400 non-null  object
 5   start_lat           75400 non-null  float64
 6   start_lng           75400 non-null  float64
 7   end_lat             75400 non-null  float64
 8   end_lng             75400 non-null  float64
 9   member_casual       75400 non-null  object
dtypes: float64(4), object(6)
memory usage: 5.8+ MB

In [12]:
# Convert the `started_at` and `ended_at` columns to datetime
clean_df = reduced_df.astype({
    'started_at': 'datetime64[ns]',
    'ended_at': 'datetime64[ns]'
})
clean_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75400 entries, 0 to 75399
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rideable_type       75400 non-null  object
 1   started_at          75400 non-null  datetime64[ns]
 2   ended_at            75400 non-null  datetime64[ns]
 3   start_station_name  75400 non-null  object
 4   end_station_name    75400 non-null  object
 5   start_lat           75400 non-null  float64
 6   start_lng           75400 non-null  float64
 7   end_lat             75400 non-null  float64
 8   end_lng             75400 non-null  float64
 9   member_casual       75400 non-null  object
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 5.8+ MB

In [13]:
# Display cleaned DataFrame
clean_df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,Baldwin at Montgomery,40.711130,-74.078900,40.723659,-74.064194,casual
1,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750044,-74.035878,40.743140,-74.040041,casual
2,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750100,-74.035852,40.743140,-74.040041,casual
3,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,Hilltop,40.711130,-74.078900,40.731169,-74.057574,member
4,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,River St & 1 St,40.743148,-74.040053,40.737215,-74.028865,member

In [14]:
# Calculate the trip duration
duration = clean_df.ended_at - clean_df.started_at

duration.sort_values(ascending=True)

21536   -1 days +23:02:17
5227    -1 days +23:05:05
58902   -1 days +23:16:25
40749   -1 days +23:45:14
33043     0 days 00:00:00
               ...
7643      0 days 20:44:41
74819     0 days 21:26:24
33096     0 days 21:37:29
72486     0 days 22:11:10
74410     0 days 22:41:18
Length: 75400, dtype: timedelta64[ns]

In [15]:
# Drop rows with a negative duration
positive_durations = clean_df.loc[duration > pd.Timedelta(0)].copy()

# Display the shape and head
print(positive_durations.shape)
positive_durations.head()

(75392, 10)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,Baldwin at Montgomery,40.711130,-74.078900,40.723659,-74.064194,casual
1,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750044,-74.035878,40.743140,-74.040041,casual
2,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750100,-74.035852,40.743140,-74.040041,casual
3,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,Hilltop,40.711130,-74.078900,40.731169,-74.057574,member
4,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,River St & 1 St,40.743148,-74.040053,40.737215,-74.028865,member

In [16]:
# Calculate updated duration values and convert to minutes
duration = positive_durations.ended_at - positive_durations.started_at

# Convert to minutes, as integer
duration_in_mins = (duration.dt.total_seconds() / 60).astype(int)

# Descriptive statistics, as integers
duration_stats = duration_in_mins.describe().apply(lambda x: round(x))
duration_stats

count    75392
mean         8
std         24
min          0
25%          3
50%          5
75%          8
max       1361
dtype: int64

In [17]:
# Add the duration_in_mins as a new column
positive_durations['duration_in_mins'] = duration_in_mins

positive_durations.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins
0,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,Baldwin at Montgomery,40.711130,-74.078900,40.723659,-74.064194,casual,20
1,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750044,-74.035878,40.743140,-74.040041,casual,3
2,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750100,-74.035852,40.743140,-74.040041,casual,5
3,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,Hilltop,40.711130,-74.078900,40.731169,-74.057574,member,16
4,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,River St & 1 St,40.743148,-74.040053,40.737215,-74.028865,member,6

In [18]:
# Identify trips < 1 minute (potential user error, incorrect docking, etc.)
lessthan_minute = positive_durations.loc[duration < pd.Timedelta(minutes=1)]
lessthan_minute

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins
125,classic_bike,2023-11-06 16:39:55,2023-11-06 16:39:57,Journal Square,Journal Square,40.733813,-74.062491,40.733670,-74.062500,member,0
193,classic_bike,2023-11-02 15:12:14,2023-11-02 15:12:50,Jackson Square,Jackson Square,40.711130,-74.078900,40.711130,-74.078900,member,0
194,classic_bike,2023-11-22 13:03:32,2023-11-22 13:03:35,Jackson Square,Jackson Square,40.711135,-74.078962,40.711130,-74.078900,member,0
267,classic_bike,2023-11-14 21:13:40,2023-11-14 21:13:42,Harborside,Harborside,40.719252,-74.034234,40.719252,-74.034234,member,0
419,classic_bike,2023-11-15 07:48:51,2023-11-15 07:49:44,Hoboken Terminal - Hudson St & Hudson Pl,Hoboken Terminal - River St & Hudson Pl,40.735938,-74.030305,40.736068,-74.029127,member,0
...,...,...,...,...,...,...,...,...,...,...,...
75128,classic_bike,2023-11-29 03:24:13,2023-11-29 03:24:34,Glenwood Ave,Glenwood Ave,40.727589,-74.070951,40.727551,-74.071061,member,0
75165,classic_bike,2023-11-29 21:59:13,2023-11-29 22:00:08,Glenwood Ave,Glenwood Ave,40.727551,-74.071061,40.727551,-74.071061,member,0
75269,classic_bike,2023-11-16 08:21:21,2023-11-16 08:22:20,Glenwood Ave,Glenwood Ave,40.727551,-74.071061,40.727551,-74.071061,member,0
75323,classic_bike,2023-11-25 03:24:06,2023-11-25 03:24:16,Glenwood Ave,Glenwood Ave,40.727735,-74.071103,40.727551,-74.071061,member,0
75385,electric_bike,2023-11-02 13:53:40,2023-11-02 13:54:14,Glenwood Ave,Glenwood Ave,40.727551,-74.071061,40.727551,-74.071061,member,0

In [19]:
# EXPLORATION: Coordinates vs Station Name
sample_station = "Journal Square"

# Conditions
lat_condition = (lessthan_minute['start_lat'] != lessthan_minute['end_lat'])
lng_condition = (lessthan_minute['start_lng'] != lessthan_minute['end_lng'])
start_stn_condition = (lessthan_minute['start_station_name'] == sample_station)
end_stn_condition = (lessthan_minute['end_station_name'] == sample_station)

# Filter using conditions
same_startend = lessthan_minute.loc[lat_condition & lng_condition & start_stn_condition & end_stn_condition]
same_startend

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins
125,classic_bike,2023-11-06 16:39:55,2023-11-06 16:39:57,Journal Square,Journal Square,40.733813,-74.062491,40.73367,-74.0625,member,0
3594,classic_bike,2023-11-21 18:51:11,2023-11-21 18:51:13,Journal Square,Journal Square,40.733982,-74.062582,40.73367,-74.0625,member,0
10186,classic_bike,2023-11-10 09:51:49,2023-11-10 09:52:06,Journal Square,Journal Square,40.733765,-74.062488,40.73367,-74.0625,member,0
10244,classic_bike,2023-11-01 14:10:18,2023-11-01 14:10:23,Journal Square,Journal Square,40.733691,-74.062501,40.73367,-74.0625,member,0
10245,classic_bike,2023-11-06 18:50:46,2023-11-06 18:51:17,Journal Square,Journal Square,40.733744,-74.062477,40.73367,-74.0625,member,0
12871,classic_bike,2023-11-30 20:10:34,2023-11-30 20:10:53,Journal Square,Journal Square,40.733793,-74.062556,40.73367,-74.0625,member,0
15758,classic_bike,2023-11-14 11:01:20,2023-11-14 11:01:28,Journal Square,Journal Square,40.733701,-74.062538,40.73367,-74.0625,member,0
15759,classic_bike,2023-11-07 21:00:32,2023-11-07 21:01:01,Journal Square,Journal Square,40.733682,-74.062602,40.73367,-74.0625,member,0
15760,classic_bike,2023-11-13 17:38:25,2023-11-13 17:38:31,Journal Square,Journal Square,40.733846,-74.062520,40.73367,-74.0625,member,0
18968,classic_bike,2023-11-02 17:37:25,2023-11-02 17:38:09,Journal Square,Journal Square,40.733670,-74.062586,40.73367,-74.0625,member,0
31737,classic_bike,2023-11-17 12:02:17,2023-11-17 12:02:27,Journal Square,Journal Square,40.733786,-74.062409,40.73367,-74.0625,member,0

In [20]:
# Determine trips which occurred at the same location
same_location = lessthan_minute.loc[lessthan_minute['start_station_name'] == lessthan_minute['end_station_name']]
same_location

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins
125,classic_bike,2023-11-06 16:39:55,2023-11-06 16:39:57,Journal Square,Journal Square,40.733813,-74.062491,40.733670,-74.062500,member,0
193,classic_bike,2023-11-02 15:12:14,2023-11-02 15:12:50,Jackson Square,Jackson Square,40.711130,-74.078900,40.711130,-74.078900,member,0
194,classic_bike,2023-11-22 13:03:32,2023-11-22 13:03:35,Jackson Square,Jackson Square,40.711135,-74.078962,40.711130,-74.078900,member,0
267,classic_bike,2023-11-14 21:13:40,2023-11-14 21:13:42,Harborside,Harborside,40.719252,-74.034234,40.719252,-74.034234,member,0
453,classic_bike,2023-11-09 09:34:34,2023-11-09 09:35:09,Grand St,Grand St,40.715099,-74.037632,40.715178,-74.037683,member,0
...,...,...,...,...,...,...,...,...,...,...,...
75128,classic_bike,2023-11-29 03:24:13,2023-11-29 03:24:34,Glenwood Ave,Glenwood Ave,40.727589,-74.070951,40.727551,-74.071061,member,0
75165,classic_bike,2023-11-29 21:59:13,2023-11-29 22:00:08,Glenwood Ave,Glenwood Ave,40.727551,-74.071061,40.727551,-74.071061,member,0
75269,classic_bike,2023-11-16 08:21:21,2023-11-16 08:22:20,Glenwood Ave,Glenwood Ave,40.727551,-74.071061,40.727551,-74.071061,member,0
75323,classic_bike,2023-11-25 03:24:06,2023-11-25 03:24:16,Glenwood Ave,Glenwood Ave,40.727735,-74.071103,40.727551,-74.071061,member,0
75385,electric_bike,2023-11-02 13:53:40,2023-11-02 13:54:14,Glenwood Ave,Glenwood Ave,40.727551,-74.071061,40.727551,-74.071061,member,0

In [21]:
# Determine the distribution of membership
same_location.member_casual.value_counts()

member    923
casual    151
Name: member_casual, dtype: int64

In [22]:
# Add a `trip_validity` column
positive_durations['trip_validity'] = pd.Series(dtype=str)
positive_durations.loc[same_location.index, 'trip_validity'] = "short"
positive_durations.trip_validity.value_counts()

short    1074
Name: trip_validity, dtype: int64

In [23]:
# Calculate the IQR, lower/upper bounds
lower_quartile = duration_stats['25%']
upper_quartile = duration_stats['75%']

# Calculate the IQR
iqr = upper_quartile - lower_quartile

# Calculate the bounds
lower_bounds = lower_quartile - (1.5*iqr)
upper_bounds = upper_quartile + (1.5*iqr)

print(f"Lower bounds: {lower_bounds}")
print(f"Upper bounds: {upper_bounds}")

Lower bounds: -4.5
Upper bounds: 15.5

In [24]:
# Casual trips - exceeded 30 minutes
casual_trips = (positive_durations['member_casual'] == "casual")
exceeded = (duration > pd.Timedelta(minutes=30))

exceeded_casual = positive_durations.loc[exceeded & casual_trips]
casual_stats = exceeded_casual.duration_in_mins.describe()
casual_stats

count    1010.000000
mean       78.168317
std       120.462264
min        30.000000
25%        36.000000
50%        47.000000
75%        71.000000
max      1331.000000
Name: duration_in_mins, dtype: float64

In [25]:
# Calculate the casual exceeded IQR, lower/upper bounds
lower_quartile = casual_stats['25%']
upper_quartile = casual_stats['75%']

# Calculate the IQR
iqr = upper_quartile - lower_quartile

# Calculate the bounds
lower_bounds = lower_quartile - (1.5*iqr)
upper_bounds = upper_quartile + (1.5*iqr)

print(f"Lower bounds: {lower_bounds}")
print(f"Upper bounds: {upper_bounds}")

Lower bounds: -16.5
Upper bounds: 123.5

In [26]:
# Identify rows of outliers
casual_outliers = exceeded_casual.loc[duration > pd.Timedelta(minutes=upper_bounds)]
casual_outliers.sort_values(by="duration_in_mins", ascending=False)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins,trip_validity
72486,electric_bike,2023-11-05 17:04:09,2023-11-06 15:15:19,Manila & 1st,Riverview Park,40.721651,-74.042884,40.744319,-74.043991,casual,1331,NaN
511,classic_bike,2023-11-28 22:50:46,2023-11-29 18:08:15,Baldwin at Montgomery,Newport PATH,40.723659,-74.064194,40.727224,-74.033759,casual,1157,NaN
60348,electric_bike,2023-11-13 20:10:38,2023-11-14 14:52:25,City Hall,Lafayette Park,40.717732,-74.043845,40.713464,-74.062859,casual,1121,NaN
10643,electric_bike,2023-11-13 14:14:54,2023-11-14 08:24:10,Columbus Drive,Grove St PATH,40.718355,-74.038914,40.719410,-74.043090,casual,1089,NaN
51723,electric_bike,2023-11-10 00:16:56,2023-11-10 18:18:50,Columbus Park - Clinton St & 9 St,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,40.748161,-74.032453,casual,1081,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21700,classic_bike,2023-11-19 10:41:39,2023-11-19 12:49:25,Paulus Hook,Paulus Hook,40.714145,-74.033552,40.714145,-74.033552,casual,127,NaN
48246,electric_bike,2023-11-14 08:39:33,2023-11-14 10:46:59,McGinley Square,Brunswick & 6th,40.725340,-74.067622,40.726012,-74.050389,casual,127,NaN
2420,classic_bike,2023-11-12 12:24:40,2023-11-12 14:30:44,South Waterfront Walkway - Sinatra Dr & 1 St,South Waterfront Walkway - Sinatra Dr & 1 St,40.736982,-74.027781,40.736982,-74.027781,casual,126,NaN
63526,classic_bike,2023-11-18 09:09:06,2023-11-18 11:13:16,12 St & Sinatra Dr N,South Waterfront Walkway - Sinatra Dr & 1 St,40.750567,-74.024211,40.736982,-74.027781,casual,124,NaN
20085,classic_bike,2023-11-20 20:09:17,2023-11-20 22:13:32,Willow Ave & 12 St,Cathedral Pkwy & Broadway,40.751953,-74.030321,40.804213,-73.966991,casual,124,NaN

In [27]:
# Update the `trip_validity` column
positive_durations.loc[casual_outliers.index, 'trip_validity'] = "long"

positive_durations.trip_validity.value_counts()

short    1074
long       96
Name: trip_validity, dtype: int64

In [28]:
# Member trips - exceeded 45 minutes
member_trips = (positive_durations['member_casual'] == "member")
exceeded = (duration > pd.Timedelta(minutes=45))

exceeded_member = positive_durations.loc[exceeded & member_trips]
member_stats = exceeded_member.duration_in_mins.describe()
member_stats

count     410.000000
mean      139.217073
std       197.451586
min        45.000000
25%        50.000000
50%        60.000000
75%       100.000000
max      1361.000000
Name: duration_in_mins, dtype: float64

In [29]:
# Calculate the casual exceeded IQR, lower/upper bounds
lower_quartile = member_stats['25%']
upper_quartile = member_stats['75%']

# Calculate the IQR
iqr = upper_quartile - lower_quartile

# Calculate the bounds
lower_bounds = lower_quartile - (1.5*iqr)
upper_bounds = upper_quartile + (1.5*iqr)

print(f"Lower bounds: {lower_bounds}")
print(f"Upper bounds: {upper_bounds}")

Lower bounds: -25.0
Upper bounds: 175.0

In [30]:

# Identify rows of outliers
member_outliers = exceeded_member.loc[duration > pd.Timedelta(minutes=upper_bounds)]
member_outliers.sort_values(by="duration_in_mins", ascending=False)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins,trip_validity
74410,classic_bike,2023-11-05 16:34:01,2023-11-06 15:15:19,Hoboken Terminal - Hudson St & Hudson Pl,Riverview Park,40.735938,-74.030305,40.744319,-74.043991,member,1361,NaN
33096,classic_bike,2023-11-21 07:18:53,2023-11-22 04:56:22,City Hall - Washington St & 1 St,Marshall St & 2 St,40.737360,-74.030970,40.740802,-74.042521,member,1297,NaN
74819,classic_bike,2023-11-07 18:29:55,2023-11-08 15:56:19,Marin Light Rail,Exchange Pl,40.714584,-74.042817,40.716366,-74.034344,member,1286,NaN
7643,classic_bike,2023-11-07 19:11:38,2023-11-08 15:56:19,Essex Light Rail,Exchange Pl,40.712774,-74.036486,40.716366,-74.034344,member,1244,NaN
61322,classic_bike,2023-11-29 18:24:50,2023-11-30 13:42:24,Brunswick St,Grove St PATH,40.724176,-74.050656,40.719410,-74.043090,member,1157,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3227,classic_bike,2023-11-04 07:14:50,2023-11-04 10:59:18,Fairmount Ave,Bergen Ave & Sip Ave,40.725726,-74.071959,40.731009,-74.064437,member,224,NaN
59691,electric_bike,2023-11-14 07:17:57,2023-11-14 10:57:49,Madison St & 1 St,Hoboken Terminal - River St & Hudson Pl,40.738790,-74.039300,40.736068,-74.029127,member,219,NaN
36048,classic_bike,2023-11-28 17:59:42,2023-11-28 21:38:10,14 St Ferry - 14 St & Shipyard Ln,Madison St & 1 St,40.752961,-74.024353,40.738790,-74.039300,member,218,NaN
22587,classic_bike,2023-11-04 14:45:50,2023-11-04 17:51:14,7 St & Monroe St,12 St & Sinatra Dr N,40.746413,-74.037977,40.750604,-74.024020,member,185,NaN
26685,classic_bike,2023-11-12 15:05:18,2023-11-12 18:06:12,Fairmount Ave,Bergen Ave & Sip Ave,40.725726,-74.071959,40.731009,-74.064437,member,180,NaN

In [31]:
# Update the `trip_validity` column
positive_durations.loc[member_outliers.index, 'trip_validity'] = "long"

positive_durations.trip_validity.value_counts()

short    1074
long      168
Name: trip_validity, dtype: int64

In [32]:
positive_durations.trip_validity.fillna(value="valid", inplace=True)

# Reset DataFrame index
positive_durations = positive_durations.reset_index(drop=True)

positive_durations.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration_in_mins,trip_validity
0,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,Baldwin at Montgomery,40.711130,-74.078900,40.723659,-74.064194,casual,20,valid
1,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750044,-74.035878,40.743140,-74.040041,casual,3,valid
2,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,Mama Johnson Field - 4 St & Jackson St,40.750100,-74.035852,40.743140,-74.040041,casual,5,valid
3,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,Hilltop,40.711130,-74.078900,40.731169,-74.057574,member,16,valid
4,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,River St & 1 St,40.743148,-74.040053,40.737215,-74.028865,member,6,valid

In [33]:
positive_durations.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75392 entries, 0 to 75391
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rideable_type       75392 non-null  object
 1   started_at          75392 non-null  datetime64[ns]
 2   ended_at            75392 non-null  datetime64[ns]
 3   start_station_name  75392 non-null  object
 4   end_station_name    75392 non-null  object
 5   start_lat           75392 non-null  float64
 6   start_lng           75392 non-null  float64
 7   end_lat             75392 non-null  float64
 8   end_lng             75392 non-null  float64
 9   member_casual       75392 non-null  object
 10  duration_in_mins    75392 non-null  int32
 11  trip_validity       75392 non-null  object
dtypes: datetime64[ns](2), float64(4), int32(1), object(5)
memory usage: 6.6+ MB

In [34]:
positive_durations.to_csv("./Output/positive_durations.csv", index=False)